body {
    margin: 0px;
}


.topnav {
    display: flex;
    background-color: #19376D;
    justify-content: space-between;
    padding: 14px 16px;


}

.topnav div a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #F1F1F1;

}

.topnav a :hover {
    background-color: lightblue;
    color: black;
}


.app-body-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #19376D;
}

.app-body-navigation a {
    color: #F1F1F1;
    text-decoration: none;
}

#nav_st {
    margin: 0px 50px;
}

#nav_st div {
    text-align: center;
    padding: 10px 0px;
}

#nav_st img {
    padding: 0px 30px;
}

.image {
    flex: 1.5;
    position: relative;
    background-color: #068FFF;
    padding: 0px 0px 100px;
}

#text {
    position: absolute;

}