body {
    background-color: white;
}

div#image {
    float: left;
    margin: 50px 50px 50px 0px;
}

div#text {
    float: right;
    padding: 30px 10px 30px 50px;
    border: 10px solid black;
    margin: 200px 30px 30px 0px;
    background-color: white;
    text-align: right;
    border-style: solid none solid solid;
}