#container {
    background-color: #f1f1f1;
    max-width: 1024px;
    margin: auto;
}

body {
    margin: 0px;
}

#logo {
    width: 70px;
}

#header {
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
}

.topnav {
    display: flex;
    background-color: #333;
    padding: 14px;
    justify-content: space-between;
}

.topnav div a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 16px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

img {
    width: 25px;
    vertical-align: middle;
}

.row {
    display: flex;
}

.column {
    width: 33.33%;

}

@media screen and (max-width:800px) {
    .row {
        flex-wrap: wrap;
    }

    .column {
        width: 50%;
    }
}

@media screen and (max-width:600px) {
    .row {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }
}